Repository technohippies/scarlett-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Remove 'From SoundCloud' label from search results
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Remove results count and make Load More button full width large
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Keep search input focused and add smooth transitions between pages
  apps/web/src/App.tsx
  apps/web/src/styles.css
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
  packages/ui/src/i18n/locales/en/homepage.json
  packages/ui/src/i18n/locales/zh-CN/homepage.json
  packages/ui/src/utils/i18n-story.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add localization for Trending text and Sign In/Out buttons
  packages/ui/.storybook/main.ts
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/web/AuthButton/AuthButton.tsx
  packages/ui/src/i18n/locales/en/common.json
  packages/ui/src/i18n/locales/zh-CN/common.json
  packages/ui/src/i18n/provider.tsx
  packages/ui/src/utils/i18n-story.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Move search to header with smooth expand animation
  apps/web/src/App.tsx
  apps/web/src/components/AuthHeader.tsx
  packages/ui/.storybook/main.ts
  packages/ui/src/components/common/SearchInput/SearchInput.tsx
  packages/ui/src/components/karaoke/CompletionView/CompletionView.stories.tsx
  packages/ui/src/components/pages/HomePage/HomePage.stories.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.stories.tsx
  packages/ui/src/components/test/I18nTest.stories.tsx
  packages/ui/src/i18n/provider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

refactor: Update header layout with centered search and wallet icon button
  apps/server/migrations/005_add_image_caching.sql
  apps/web/src/components/AuthHeader.tsx
  packages/ui/src/i18n/provider.tsx
  packages/ui/src/utils/i18n-story.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Make search bar use full available width
  apps/server/src/services/image.service.ts
  apps/web/src/components/AuthHeader.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Shorten search placeholder and make crown number white
  apps/web/src/components/AuthHeader.tsx
Due: prettier --write

feat: Hide header elements when search is active for full-width search
  apps/web/src/components/AuthHeader.tsx
Due: prettier --write

fix: Add smooth transitions and fix clear button behavior
  apps/server/src/routes/karaoke.routes.ts
  apps/web/src/components/AuthHeader.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add image caching and metadata extraction from soundcloak
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Make search bar take full width when active
  apps/web/src/components/AuthHeader.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add artwork display in song lists
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Make all header icons consistent size (w-5 h-5)
  apps/web/src/components/AuthHeader.tsx
Due: prettier --write

fix: Map artwork URLs in popular songs API response
  apps/web/src/App.tsx
Due: prettier --write

fix: Handle soundcloak proxy image URLs correctly
  apps/server/schema/migrations/003_create_streaks_and_rankings.sql
  apps/server/scripts/populate-artwork.ts
  apps/server/src/services/image.service.ts
  apps/web/src/App.tsx
  packages/ui/src/components/common/SplitButton/SplitButton.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.tsx
  packages/ui/src/components/karaoke/KaraokeHeader/KaraokeHeader.tsx
  packages/ui/src/components/karaoke/LeaderboardPanel/LeaderboardPanel.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/web/SubscriptionPlan/SubscriptionPlan.stories.tsx
  packages/ui/src/components/web/SubscriptionPlan/SubscriptionPlan.tsx
  packages/ui/src/components/web/SubscriptionSlider/SubscriptionSlider.stories.tsx
  packages/ui/src/components/web/SubscriptionSlider/SubscriptionSlider.tsx
  packages/ui/src/i18n/locales/en/index.ts
  packages/ui/src/i18n/locales/en/karaoke.json
  packages/ui/src/i18n/locales/en/subscription.json
  packages/ui/src/i18n/locales/zh-CN/index.ts
  packages/ui/src/i18n/locales/zh-CN/karaoke.json
  packages/ui/src/i18n/locales/zh-CN/subscription.json
  packages/ui/src/i18n/types.ts
  soundcloak-test.html
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add image proxy to handle broken SoundCloud URLs
  apps/server/src/index.ts
  apps/server/src/routes/images.routes.ts
  apps/web/src/App.tsx
  packages/ui/src/components/common/SplitButton/SplitButton.stories.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.stories.tsx
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/KaraokeHeader/KaraokeHeader.stories.tsx
  packages/ui/src/components/karaoke/LeaderboardPanel/LeaderboardPanel.stories.tsx
  packages/ui/src/components/karaoke/LeaderboardPanel/LeaderboardPanel.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
  packages/ui/src/components/web/AuthButton/AuthButton.stories.tsx
  packages/ui/src/utils/images.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Auto-fetch fresh artwork when cached URLs fail
  apps/server/src/routes/images.routes.ts
  apps/server/src/services/artwork.service.ts
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.stories.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/index.ts
  packages/ui/src/components/karaoke/LyricsDisplay/LyricsDisplay.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
  packages/ui/src/utils/images.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add LyricDetailSlider component for lyric translation and annotations
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.stories.tsx
  packages/ui/src/i18n/locales/en/common.json
  packages/ui/src/i18n/locales/zh-CN/common.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Remove artwork from search results for better performance
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.stories.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Improve LyricDetailSlider design with streaming translations
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.stories.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Simplify LyricDetailSlider UI and fix horizontal scroll
  packages/ui/src/components/display/ScorePanel/ScorePanel.stories.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/i18n/locales/en/common.json
  packages/ui/src/i18n/locales/zh-CN/common.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add progressive opacity background to ScorePanel
  packages/ui/src/components/display/ScorePanel/ScorePanel.stories.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add translation and annotation caching to LyricDetailSlider
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Implement Venice AI integration for lyric translation and annotation
  apps/server/src/index.ts
  apps/server/src/routes/lyrics.routes.ts
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/karaoke/LeaderboardPanel/LeaderboardPanel.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/i18n/locales/en/karaoke.json
  packages/ui/src/i18n/locales/zh-CN/karaoke.json
  packages/ui/src/i18n/types.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Fix SSE streaming and add missing database columns
  apps/server/schema/migrations/004_add_image_metadata_columns.sql
  apps/server/src/routes/lyrics.routes.ts
  apps/web/src/components/FarcasterKaraoke.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Make translation text animation more graceful
  apps/web/src/App.tsx
  apps/web/src/components/AuthHeader.tsx
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/common/TextEffect/TextEffect.tsx
  packages/ui/src/components/karaoke/CompletionView/CompletionView.tsx
  packages/ui/src/components/karaoke/LeaderboardPanel/LeaderboardPanel.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/index.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Implement client-side routing with shareable URLs
  apps/server/schema/migrations/005_add_language_support.sql
  apps/server/src/services/genius.service.ts
  apps/server/src/services/song.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/src/index.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/SongPage.tsx
  apps/web/src/routes.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add SoundCloud metadata tracking and language filtering
  apps/server/schema/migrations/006_add_soundcloud_metadata.sql
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/routes/search.routes.ts
  apps/server/src/routes/songs.routes.ts
  apps/server/src/services/song.service.ts
  apps/server/src/types/index.ts
  apps/web/src/pages/SongPage.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Pass artist and title through navigation state to fix search result display
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/SongPage.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Translate to English for Chinese users instead of Spanish
  apps/server/src/routes/search.routes.ts
  apps/server/src/services/song.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/i18n/locales/en/display.json
  packages/ui/src/i18n/locales/zh-CN/display.json
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

debug: Add comprehensive language detection logging
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Properly handle translation for unsupported languages
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/common/Tabs/Tabs.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add Chinese translation support for lyrics
  apps/server/src/routes/lyrics.routes.ts
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Prevent same-language translations and improve translation quality
  apps/server/src/routes/lyrics.routes.ts
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add OpenRouter service for better translations using Google Gemini 2.5 Flash
  apps/server/src/routes/lyrics.routes.ts
  apps/server/src/services/openrouter.service.ts
  apps/server/src/types/index.ts
  apps/server/wrangler.toml
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add language filtering and fix duplicate songs in popular list
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/routes/songs.routes.ts
  apps/server/src/services/song.service.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/SongPage.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/karaoke/LyricsDisplay/LyricsDisplay.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
  packages/ui/src/utils/interactiveListStyles.ts
  packages/ui/tailwind.config.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Preserve original lyrics formatting and fix merging logic
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/lyrics.service.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add lyric detail translations and improve UI components
  apps/server/migrations/003_create_streaks_and_rankings.sql
  apps/server/migrations/004_create_performances_table.sql.backup
  apps/server/migrations/005_add_image_caching.sql
  apps/server/schema/migrations/001_initial.sql
  apps/server/schema/migrations/002_practice_srs.sql
  apps/server/schema/migrations/003_create_streaks_and_rankings.sql
  apps/server/wrangler.toml
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/vite.config.ts
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
  packages/ui/src/components/web/SubscriptionPlan/SubscriptionPlan.tsx
  packages/ui/src/components/web/SubscriptionSlider/SubscriptionSlider.tsx
  packages/ui/src/i18n/locales/en/karaoke.json
  packages/ui/src/i18n/locales/en/subscription.json
  packages/ui/src/i18n/locales/zh-CN/karaoke.json
  packages/ui/src/i18n/locales/zh-CN/subscription.json
  packages/ui/src/i18n/provider.tsx
  packages/ui/tsconfig.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add translation caching with localStorage persistence
  apps/server/src/routes/lyrics.routes.ts
  apps/server/src/services/openrouter.service.ts
  apps/web/src/components/FarcasterKaraoke.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

Path conditions:
  cd apps/server && bun run lint:fix: any of: apps/server/**/*.{ts,tsx}
  cd apps/server && bun run type-check: any of: apps/server/**/*.{ts,tsx}
  turbo lint --filter=@scarlett/ui: any of: packages/**/*.{ts,tsx}
  turbo type-check --filter=@scarlett/ui: any of: packages/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
