Repository technohippies/scarlett-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add Farcaster mini app MVP with deployment configs
  apps/farcaster/README.md
  apps/farcaster/deploy.sh
  apps/farcaster/orbiter.json
  apps/farcaster/package.json
  apps/farcaster/public/.well-known/farcaster.json
  apps/farcaster/public/icon.png
Due: prettier --write

fix: Add explicit OPTIONS handling for karaoke routes
  apps/extension/.output/chrome-mv3-dev/background.js
  apps/extension/.output/chrome-mv3-dev/chunks/reload-html-f02QKjXp.js
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3-dev/manifest.json
  apps/extension/.output/chrome-mv3-dev/oninstall.html
  apps/extension/.output/chrome-mv3-dev/popup.html
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add HomePage component and integrate into Farcaster app
  apps/extension/.output/chrome-mv3-dev/background.js
  apps/extension/.output/chrome-mv3-dev/chunks/reload-html-CkkkoXxl.js
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3-dev/manifest.json
  apps/extension/.output/chrome-mv3-dev/oninstall.html
  apps/extension/.output/chrome-mv3-dev/popup.html
  apps/extension/src/apps/content/ContentApp.tsx
  apps/farcaster/docs/HNS_ORBITER_INTEGRATION.md
  apps/farcaster/orbiter.json
  apps/farcaster/src/App.tsx
  apps/farcaster/src/components/CreditPacks.tsx
  apps/farcaster/src/components/FarcasterKaraoke.tsx
  apps/farcaster/src/components/UserHeader.tsx
  apps/farcaster/src/index.tsx
  apps/farcaster/src/pages/Home.tsx
  apps/farcaster/src/styles.css
  apps/farcaster/tsconfig.json
  apps/server/src/middleware/cors.middleware.ts
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/lyrics.service.ts
  packages/ui/src/components/farcaster/FarcasterMiniApp/FarcasterMiniApp.tsx
  packages/ui/src/components/farcaster/WalletConnect/WalletConnect.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/KaraokeCompletion/KaraokeCompletion.tsx
  packages/ui/src/components/karaoke/KaraokeSession/KaraokeSession.tsx
  packages/ui/src/components/karaoke/LyricsDisplay/LyricsDisplay.stories.tsx
  packages/ui/src/components/karaoke/LyricsDisplay/LyricsDisplay.tsx
  packages/ui/src/components/pages/HomePage/HomePage.stories.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/HomePage/index.ts
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
  packages/ui/src/index.ts
  packages/ui/src/services/audio/karaokeAudioProcessor.ts
  packages/ui/src/services/karaoke/chunkingUtils.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Integrate HomePage with karaoke functionality
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/farcaster/src/App.tsx
  apps/farcaster/src/services/api.ts
  packages/ui/src/components/karaoke/LyricsDisplay/LyricsDisplay.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Fix solidStory function call in withI18n utility and CompletionView stories
  packages/ui/src/utils/i18n-story.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Fix database constraint and STT method call issues
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/src/apps/content/PracticeView.tsx
  apps/farcaster/src/App.tsx
  apps/farcaster/src/components/FarcasterKaraoke.tsx
  apps/farcaster/src/components/PracticeExercises.tsx
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/routes/stt.routes.ts
  apps/server/src/services/stt.service.ts
  packages/ui/src/components/display/ScorePanel/ScorePanel.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.tsx
  packages/ui/src/components/practice/ExerciseFooter/ExerciseFooter.tsx
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.tsx
  packages/ui/src/components/practice/PracticeExerciseView/PracticeExerciseView.tsx
  packages/ui/src/components/practice/PracticeExerciseView/index.ts
  packages/ui/src/components/practice/PracticeHeader/PracticeHeader.tsx
  packages/ui/src/components/practice/ReadAloud/ReadAloud.tsx
  packages/ui/src/components/practice/ResponseFooter/ResponseFooter.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Create core and api-client packages for better architecture
  packages/api-client/package.json
  packages/api-client/src/client.ts
  packages/api-client/src/endpoints/auth.ts
  packages/api-client/src/endpoints/index.ts
  packages/api-client/src/endpoints/karaoke.ts
  packages/api-client/src/endpoints/practice.ts
  packages/api-client/src/endpoints/stt.ts
  packages/api-client/src/index.ts
  packages/api-client/tsconfig.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/types/api.ts
  packages/core/src/types/audio.ts
  packages/core/src/types/database.ts
  packages/core/src/types/environment.ts
  packages/core/src/types/errors.ts
  packages/core/src/types/index.ts
  packages/core/src/types/karaoke.ts
  packages/core/src/types/practice.ts
  packages/core/src/types/user.ts
  packages/core/tsconfig.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Create auth package with unified authentication system
  packages/auth/package.json
  packages/auth/src/context.tsx
  packages/auth/src/hooks/index.ts
  packages/auth/src/hooks/useAuthStatus.ts
  packages/auth/src/hooks/useAuthToken.ts
  packages/auth/src/index.ts
  packages/auth/src/providers/base.ts
  packages/auth/src/providers/demo.ts
  packages/auth/src/providers/farcaster.ts
  packages/auth/src/providers/index.ts
  packages/auth/src/providers/wallet.ts
  packages/auth/src/utils/index.ts
  packages/auth/src/utils/jwt.ts
  packages/auth/tsconfig.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

refactor: Clean up debug logs and fix button hover effect
  README.md
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/entrypoints/content.tsx
  apps/extension/entrypoints/oninstall/main.tsx
  apps/extension/src/views/content/ContentApp.tsx
  apps/extension/src/views/content/PracticeView.tsx
  apps/extension/src/views/oninstall/OnInstallApp.tsx
  apps/web/.env.example
  apps/web/README.md
  apps/web/deploy.sh
  apps/web/docs/HNS_ORBITER_INTEGRATION.md
  apps/web/index.html
  apps/web/orbiter.json
  apps/web/package.json
  apps/web/public/.well-known/farcaster.json
  apps/web/public/favicon.ico
  apps/web/public/icon.png
  apps/web/src/App.tsx
  apps/web/src/components/CSSDebug.tsx
  apps/web/src/components/CreditPacks.tsx
  apps/web/src/components/DebugStyles.tsx
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/src/components/PracticeExercises.tsx
  apps/web/src/components/UserHeader.tsx
  apps/web/src/debug.html
  apps/web/src/hooks/useSDK.ts
  apps/web/src/index.css
  apps/web/src/index.tsx
  apps/web/src/pages/Home.tsx
  apps/web/src/services/api.ts
  apps/web/src/styles.css
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/ui/src/components/common/Button/Button.tsx
  packages/ui/src/components/practice/PracticeExerciseView/PracticeExerciseView.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
  packages/ui/src/services/audio/karaokeAudioProcessor.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Implement playback speed feature for language learners
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/src/views/content/ContentApp.tsx
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
  packages/ui/src/services/karaoke/karaokeApi.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

refactor: Phase 1 - Migrate UI package to use @scarlett/core types
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  bun.lock
  packages/core/src/types/api.ts
  packages/core/src/types/environment.ts
  packages/core/src/types/karaoke.ts
  packages/core/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/karaoke/KaraokeCompletion/KaraokeCompletion.tsx
  packages/ui/src/components/karaoke/KaraokeSession/KaraokeSession.tsx
  packages/ui/src/components/practice/PracticeExerciseView/PracticeExerciseView.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
  packages/ui/src/index.ts
  packages/ui/src/services/audio/karaokeAudioProcessor.ts
  packages/ui/src/services/karaoke/chunkingUtils.ts
  packages/ui/src/services/karaoke/karaokeApi.ts
  packages/ui/src/stores/karaokeStore.ts
  packages/ui/src/types/karaoke.ts
  packages/ui/tsconfig.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

refactor: Phase 2 - Migrate UI package to use @scarlett/api-client
  bun.lock
  packages/api-client/src/client.ts
  packages/api-client/tsconfig.json
  packages/ui/package.json
  packages/ui/src/services/karaoke/karaokeApi.ts
  packages/ui/tsconfig.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Fix package.json exports for Vite compatibility
  apps/extension/.output/chrome-mv3-dev/chunks/reload-html-f02QKjXp.js
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3-dev/manifest.json
  apps/extension/.output/chrome-mv3-dev/oninstall.html
  apps/extension/.output/chrome-mv3-dev/popup.html
  packages/api-client/package.json
  packages/core/package.json
Due: prettier --write

fix: Remove duplicate /api path in API requests
  apps/extension/.output/chrome-mv3-dev/chunks/reload-html-f02QKjXp.js
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3-dev/manifest.json
  apps/extension/.output/chrome-mv3-dev/oninstall.html
  apps/extension/.output/chrome-mv3-dev/popup.html
  apps/web/src/components/FarcasterKaraoke.tsx
Due: prettier --write

fix: Remove debug console.log statements from extension content script
  apps/extension/entrypoints/content.tsx
Due: prettier --write

fix: Standardize API response format for karaoke endpoints
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3/assets/oninstall-7Q2Lmt9r.css
  apps/extension/.output/chrome-mv3/assets/oninstall-huZH6dSN.css
  apps/extension/.output/chrome-mv3/chunks/oninstall-J13r7u_f.js
  apps/extension/.output/chrome-mv3/content-scripts/content.css
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/extension/.output/chrome-mv3/oninstall.html
  apps/server/src/routes/karaoke.routes.ts
  packages/ui/src/components/common/Modal/Modal.tsx
  packages/ui/src/components/common/Modal/index.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Clean up TypeScript errors and console logs
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  packages/auth/src/context.tsx
  packages/auth/src/providers/demo.ts
  packages/auth/src/providers/farcaster.ts
  packages/auth/src/providers/wallet.ts
  packages/auth/src/utils/jwt.ts
  packages/auth/tsconfig.json
  packages/ui/src/components/auth/AuthButton/AuthButton.stories.tsx
  packages/ui/src/components/auth/AuthButton/AuthButton.tsx
  packages/ui/src/components/auth/AuthButton/index.ts
  packages/ui/src/components/auth/AuthModal/AuthModal.stories.tsx
  packages/ui/src/components/auth/AuthModal/AuthModal.tsx
  packages/ui/src/components/auth/AuthModal/index.ts
  packages/ui/src/components/auth/WalletSelector/WalletSelector.stories.tsx
  packages/ui/src/components/auth/WalletSelector/WalletSelector.tsx
  packages/ui/src/components/auth/WalletSelector/index.ts
  packages/ui/src/components/auth/index.ts
  packages/ui/src/components/common/Modal/Modal.stories.tsx
  packages/ui/src/components/common/Modal/Modal.tsx
  packages/ui/src/components/common/Tabs/Tabs.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/hooks/useKaraokeSession.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Remove test mode limit and fix auth package exports
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  packages/auth/package.json
  packages/ui/src/components/auth/AuthButton/AuthButton.stories.tsx
  packages/ui/src/components/auth/AuthButton/AuthButton.tsx
  packages/ui/src/components/auth/AuthButton/index.ts
  packages/ui/src/components/auth/AuthModal/AuthModal.stories.tsx
  packages/ui/src/components/auth/AuthModal/AuthModal.tsx
  packages/ui/src/components/auth/AuthModal/index.ts
  packages/ui/src/components/auth/WalletSelector/WalletSelector.stories.tsx
  packages/ui/src/components/auth/WalletSelector/WalletSelector.tsx
  packages/ui/src/components/auth/WalletSelector/index.ts
  packages/ui/src/components/auth/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/hooks/useKaraokeSession.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Improve audio initialization and reduce server logs
  apps/server/src/routes/karaoke.routes.ts
  apps/web/src/components/FarcasterKaraoke.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Re-enable 5-line test mode for faster development
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  packages/ui/src/hooks/useKaraokeSession.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Update Deepgram API key and optimize STT service
  apps/server/src/services/stt.service.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add expected vs transcribed comparison logging
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Normalize stuttering lyrics for practice exercises
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/server/src/services/practice.service.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/web/AuthButton/AuthButton.stories.tsx
  packages/ui/src/components/web/AuthButton/AuthButton.tsx
  packages/ui/src/components/web/AuthButton/index.ts
  packages/ui/src/components/web/CreditPack/CreditPack.stories.tsx
  packages/ui/src/components/web/CreditPack/CreditPack.tsx
  packages/ui/src/components/web/CreditPack/index.ts
  packages/ui/src/components/web/FarcasterMiniApp/FarcasterMiniApp.stories.tsx
  packages/ui/src/components/web/FarcasterMiniApp/FarcasterMiniApp.tsx
  packages/ui/src/components/web/FarcasterMiniApp/index.ts
  packages/ui/src/components/web/UserProfile/UserProfile.stories.tsx
  packages/ui/src/components/web/UserProfile/UserProfile.tsx
  packages/ui/src/components/web/UserProfile/index.ts
  packages/ui/src/components/web/WalletConnect/WalletConnect.stories.tsx
  packages/ui/src/components/web/WalletConnect/WalletConnect.tsx
  packages/ui/src/components/web/WalletConnect/index.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add normalized text comparison logging for debugging
  apps/server/src/services/scoring.service.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/web/AuthButton/AuthButton.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Normalize punctuation in practice exercises
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.tsx
  packages/ui/src/components/practice/PracticeExerciseView/PracticeExerciseView.tsx
  packages/ui/src/components/web/AuthButton/AuthButton.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Copy sound files to web app public directory
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/web/public/sounds/correct.mp3
  apps/web/public/sounds/incorrect.mp3
  packages/ui/public/sounds/correct.mp3
  packages/ui/public/sounds/incorrect.mp3
  packages/ui/src/components/practice/MCQ/MCQ.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.tsx
  packages/ui/src/components/practice/PracticeExerciseView/PracticeExerciseView.tsx
  packages/ui/src/components/practice/ResponseFooter/ResponseFooter.tsx
  packages/ui/src/components/web/AuthButton/AuthButton.tsx
  packages/ui/src/utils/sound.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Hide main header when viewing a song
  apps/web/src/App.tsx
Due: prettier --write

feat: Add subscription slider with Unlock Protocol integration
  apps/web/src/App.tsx
  apps/web/src/components/AuthHeader.tsx
  apps/web/src/services/wallet.ts
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/web/SubscriptionModal/SubscriptionModal.stories.tsx
  packages/ui/src/components/web/SubscriptionModal/SubscriptionModal.tsx
  packages/ui/src/components/web/SubscriptionModal/index.ts
  packages/ui/src/components/web/SubscriptionPlan/SubscriptionPlan.stories.tsx
  packages/ui/src/components/web/SubscriptionPlan/SubscriptionPlan.tsx
  packages/ui/src/components/web/SubscriptionPlan/index.ts
  packages/ui/src/components/web/SubscriptionSlider/SubscriptionSlider.stories.tsx
  packages/ui/src/components/web/SubscriptionSlider/SubscriptionSlider.tsx
  packages/ui/src/components/web/SubscriptionSlider/index.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Improve SplitButton click handling to prevent speed changes on Start
  packages/ui/src/components/common/SplitButton/SplitButton.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add streak and leaderboard indicators to header
  apps/web/src/App.tsx
  apps/web/src/components/AuthHeader.tsx
  packages/ui/src/components/common/SearchInput/SearchInput.tsx
  packages/ui/src/components/pages/HomePage/HomePage.stories.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Use correct phosphor icon name in SearchPage
  apps/web/src/App.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Add graceful error handling for user stats API and enable crown display testing
  apps/server/migrations/003_create_streaks_and_rankings.sql
  apps/server/migrations/004_create_performances_table.sql
  apps/server/src/index.ts
  apps/server/src/routes/performance.routes.ts
  apps/server/src/routes/search.routes.ts
  apps/server/src/routes/user.routes.ts
  apps/server/src/services/song.service.ts
  apps/server/src/services/streak.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/FarcasterKaraoke.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/pages/HomePage/HomePage.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add pagination to search results with Load More button
  apps/server/src/routes/search.routes.ts
  apps/web/src/App.tsx
  apps/web/src/services/api.ts
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
  packages/ui/src/i18n/locales/en/common.json
  packages/ui/src/i18n/locales/zh-CN/common.json
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Remove temporary crown display test override
  apps/web/src/App.tsx
  packages/ui/src/components/effects/AnimatedNumber/AnimatedNumber.tsx
  packages/ui/src/components/effects/AnimatedNumber/index.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Replace arrow icon with chevron and fix hasMore detection
  apps/server/src/routes/search.routes.ts
  packages/ui/src/components/karaoke/CompletionView/CompletionView.stories.tsx
  packages/ui/src/components/karaoke/CompletionView/CompletionView.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Always show crown icon with count (0 or 1) in header
  apps/web/src/components/AuthHeader.tsx
Due: prettier --write

refactor: Use Button component for Load More with secondary variant
  packages/ui/src/components/karaoke/CompletionView/CompletionView.tsx
  packages/ui/src/components/pages/SearchPage/SearchPage.tsx
  packages/ui/src/i18n/locales/en/common.json
  packages/ui/src/i18n/locales/en/karaoke.json
  packages/ui/src/i18n/locales/zh-CN/common.json
  packages/ui/src/i18n/locales/zh-CN/karaoke.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Update production API URL to use Cloudflare Workers endpoint
  packages/ui/src/components/effects/StreakIndicator/StreakIndicator.tsx
  packages/ui/src/components/karaoke/CompletionView/CompletionView.tsx
  packages/ui/src/i18n/locales/en/karaoke.json
  packages/ui/src/i18n/locales/zh-CN/karaoke.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

Path conditions:
  cd apps/server && bun run lint:fix: any of: apps/server/**/*.{ts,tsx}
  cd apps/server && bun run type-check: any of: apps/server/**/*.{ts,tsx}
  turbo lint --filter=@scarlett/ui: any of: packages/**/*.{ts,tsx}
  turbo type-check --filter=@scarlett/ui: any of: packages/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
