Repository technohippies/scarlett-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

.lintstagedrc.json:

{
  "apps/server/**/*.{ts,tsx}": [
    "cd apps/server && bun run lint:fix",
    "cd apps/server && bun run type-check"
  ],
  "packages/**/*.{ts,tsx}": [
    "turbo lint --filter=@scarlett/ui",
    "turbo type-check --filter=@scarlett/ui"
  ],
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ]
}

ci: Use GitHub runners temporarily until Blacksmith approval
  .github/workflows/main.yml
Due: none

feat: Add i18n support with English and Mandarin Chinese translations
  bun.lock
  package.json
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/preview.ts
  packages/ui/build-storybook.log
  packages/ui/package.json
  packages/ui/src/components/common/ShimmerText/ShimmerText.stories.tsx
  packages/ui/src/components/common/ShimmerText/ShimmerText.tsx
  packages/ui/src/components/common/TextEffect/SimpleTest.tsx
  packages/ui/src/components/common/TextEffect/TextEffect.stories.tsx
  packages/ui/src/components/common/TextEffect/TextEffect.tsx
  packages/ui/src/components/common/TextEffect/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/CompletionView/CompletionView.stories.tsx
  packages/ui/src/components/karaoke/CompletionView/CompletionView.tsx
  packages/ui/src/i18n/index.ts
  packages/ui/src/i18n/locales/en/common.json
  packages/ui/src/i18n/locales/en/display.json
  packages/ui/src/i18n/locales/en/index.ts
  packages/ui/src/i18n/locales/en/karaoke.json
  packages/ui/src/i18n/locales/zh-CN/common.json
  packages/ui/src/i18n/locales/zh-CN/display.json
  packages/ui/src/i18n/locales/zh-CN/index.ts
  packages/ui/src/i18n/locales/zh-CN/karaoke.json
  packages/ui/src/i18n/provider.tsx
  packages/ui/src/i18n/types.ts
  packages/ui/src/styles/globals.css
  packages/ui/src/utils/i18n-story.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Update server eslint config to properly ignore .wrangler temp files
  apps/server/eslint.config.js
Due: prettier --write

fix: Resolve server linting errors
  apps/server/.eslintrc.fix.js
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/routes/songs.routes.ts
  apps/server/src/services/scoring.service.ts
  apps/server/src/test/helpers/index.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add practice components and ProgressBar
  packages/ui/src/components/common/ProgressBar/ProgressBar.stories.tsx
  packages/ui/src/components/common/ProgressBar/ProgressBar.tsx
  packages/ui/src/components/common/ProgressBar/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/practice/ExerciseFooter/ExerciseFooter.stories.tsx
  packages/ui/src/components/practice/ExerciseFooter/ExerciseFooter.tsx
  packages/ui/src/components/practice/ExerciseFooter/index.ts
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.tsx
  packages/ui/src/components/practice/ExerciseTemplate/index.ts
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.stories.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.tsx
  packages/ui/src/components/practice/PracticeExercise/index.ts
  packages/ui/src/components/practice/PracticeHeader/PracticeHeader.stories.tsx
  packages/ui/src/components/practice/PracticeHeader/PracticeHeader.tsx
  packages/ui/src/components/practice/PracticeHeader/index.ts
  packages/ui/src/components/practice/SayItBack/SayItBack.stories.tsx
  packages/ui/src/components/practice/SayItBack/SayItBack.tsx
  packages/ui/src/components/practice/SayItBack/index.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Resolve TypeScript errors in karaoke.routes.ts
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Properly type Hono context and middleware
  apps/server/src/middleware/auth.middleware.ts
  apps/server/src/routes/auth.routes.ts
  apps/server/src/routes/karaoke.routes.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.stories.tsx
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.tsx
  packages/ui/src/components/practice/SayItBack/SayItBack.stories.tsx
  packages/ui/src/components/practice/SayItBack/SayItBack.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Resolve remaining TypeScript errors in server
  apps/server/src/index.ts
  packages/ui/src/components/common/ProgressBar/ProgressBar.stories.tsx
  packages/ui/src/components/practice/ExerciseFooter/ExerciseFooter.stories.tsx
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.stories.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.stories.tsx
  packages/ui/src/components/practice/PracticeHeader/PracticeHeader.stories.tsx
  packages/ui/src/components/practice/SayItBack/SayItBack.stories.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Resolve TypeScript errors across server files
  apps/server/package.json
  apps/server/src/routes/auth.routes.ts
  apps/server/src/routes/songs.routes.ts
  apps/server/src/test/helpers/index.ts
  apps/server/src/types/index.ts
  package.json
  packages/ui/src/components/practice/ExerciseFooter/ExerciseFooter.stories.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.stories.tsx
  packages/ui/src/components/practice/ReadAloud/Describe.tsx
  packages/ui/src/components/practice/ReadAloud/SayItBack.stories.tsx
  packages/ui/src/components/practice/ReadAloud/index.ts
  packages/ui/src/components/practice/SayItBack/SayItBack.tsx
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Resolve TypeScript errors in middleware and services
  .husky/pre-push
  apps/server/src/middleware/auth.middleware.ts
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/auth.service.ts
  apps/server/src/services/scoring.service.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/practice/CompleteExercise/CompleteExercise.stories.tsx
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.stories.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.stories.tsx
  packages/ui/src/components/practice/PracticeExercise/PracticeExercise.tsx
  packages/ui/src/components/practice/ReadAloud/Describe.tsx
  packages/ui/src/components/practice/ReadAloud/ReadAloud.stories.tsx
  packages/ui/src/components/practice/ReadAloud/ReadAloud.tsx
  packages/ui/src/components/practice/ReadAloud/index.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Save current work before restoring files
  apps/server/src/middleware/cors.middleware.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add practice exercise components
  .lintstagedrc.json
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/content.tsx
  apps/extension/entrypoints/popup.tsx
  apps/extension/package.json
  apps/extension/tsconfig.json
  apps/extension/wxt.config.ts
  bun.lock
  packages/ui/src/components/common/Button/Button.stories.tsx
  packages/ui/src/components/common/Button/Button.tsx
  packages/ui/src/components/common/Card/Card.stories.tsx
  packages/ui/src/components/common/ProgressBar/ProgressBar.stories.tsx
  packages/ui/src/components/common/SplitButton/SplitButton.stories.tsx
  packages/ui/src/components/common/Tabs/Tabs.stories.tsx
  packages/ui/src/components/display/ScorePanel/ScorePanel.stories.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/CompletionView/CompletionView.stories.tsx
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/FarcasterKaraokeView/FarcasterKaraokeView.stories.tsx
  packages/ui/src/components/karaoke/KaraokeHeader/KaraokeHeader.stories.tsx
  packages/ui/src/components/karaoke/LeaderboardPanel/LeaderboardPanel.stories.tsx
  packages/ui/src/components/layout/Footer/Footer.stories.tsx
  packages/ui/src/components/layout/Header/Header.stories.tsx
  packages/ui/src/components/practice/CompleteMCQ/CompleteMCQ.stories.tsx
  packages/ui/src/components/practice/CompleteReadAloud/CompleteReadAloud.stories.tsx
  packages/ui/src/components/practice/ExerciseTemplate/ExerciseTemplate.stories.tsx
  packages/ui/src/components/practice/MCQ/MCQ.stories.tsx
  packages/ui/src/components/practice/MCQ/MCQ.tsx
  packages/ui/src/components/practice/MCQ/index.ts
  packages/ui/src/components/practice/PracticeHeader/PracticeHeader.stories.tsx
  packages/ui/src/components/practice/ReadAloud/ReadAloud.stories.tsx
  packages/ui/src/components/practice/ResponseFooter/ResponseFooter.tsx
  packages/ui/src/components/practice/ResponseFooter/index.ts
  packages/ui/tsconfig.json
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

chore: Remove husky pre-commit hooks
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/content.tsx
  apps/extension/entrypoints/popup.html
  apps/extension/entrypoints/popup.tsx
  package.json
Due: prettier --write

feat: Add WXT browser extension with karaoke widget
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/content.tsx
  apps/extension/eslint.config.js
  apps/extension/package.json
Due: prettier --write

fix: Resolve TabsContext error in Tabs component
  packages/ui/src/components/common/Tabs/Tabs.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Resolve extension lint errors and type mismatches
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/eslint.config.js
  apps/extension/src/apps/content/ContentApp.tsx
  apps/extension/src/services/karaoke-api.ts
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Properly configure extension ESLint to avoid shared config conflicts
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/extension/eslint.config.js
  apps/extension/package.json
  apps/extension/src/apps/content/ContentApp.tsx
  apps/extension/src/services/karaoke-api.ts
  apps/server/src/index.ts
  apps/server/src/middleware/auth.middleware.new.ts
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Resolve server TypeScript errors and extension ESLint configuration
  apps/extension/eslint.config.js
  apps/extension/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/auth.middleware.new.ts
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Final CI fixes for server lint and extension ESLint config
  apps/extension/eslint.config.js
  apps/extension/wxt.config.ts
  apps/server/src/index.ts
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Rename extension ESLint config to .eslintrc.js
  .gitignore
  apps/extension/.eslintrc.js
  apps/server/src/routes/karaoke.routes.ts
  apps/server/test-simple.js
  apps/server/wrangler.toml
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Simplify extension ESLint config and fix server build errors
  apps/extension/.eslintrc.js
  apps/extension/eslint.config.js
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/genius.service.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Temporarily disable extension linting to isolate issue
  apps/extension/eslint.config.js
  apps/extension/package.json
  apps/server/src/index.ts
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Optimize karaoke algorithm and fix CORS errors
  apps/server/src/index.ts
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/lyrics.service.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

feat: Add success caching to karaoke algorithm
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/package.json
  apps/extension/src/apps/content/ContentApp.tsx
  apps/extension/src/apps/oninstall/OnInstallApp.tsx
  apps/extension/src/styles/extension.css
  apps/extension/src/utils/storage.ts
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/lyrics.service.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/onboarding/OnboardingFlow/OnboardingFlow.stories.tsx
  packages/ui/src/components/onboarding/OnboardingFlow/OnboardingFlow.tsx
  packages/ui/src/components/onboarding/OnboardingFlow/index.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

perf: Remove unnecessary Genius API call from cached karaoke responses
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Resolve ESLint errors for CI
  apps/extension/.output/chrome-mv3/chunks/oninstall-C2GTrO-e.js
  apps/extension/.output/chrome-mv3/chunks/oninstall-DnPepiIG.js
  apps/extension/.output/chrome-mv3/oninstall.html
  apps/extension/src/apps/oninstall/OnInstallApp.tsx
  apps/server/src/index.ts
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/lyrics.service.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Resolve TypeScript errors for CI
  apps/extension/.output/chrome-mv3-dev/chunks/reload-html-f02QKjXp.js
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3-dev/manifest.json
  apps/extension/.output/chrome-mv3-dev/oninstall.html
  apps/extension/.output/chrome-mv3-dev/popup.html
  apps/extension/.output/chrome-mv3/content-scripts/content.css
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/extension/src/apps/content/ContentApp.tsx
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/services/lyrics.service.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Resolve ESLint unused variable error
  apps/extension/.output/chrome-mv3-dev/chunks/reload-html-f02QKjXp.js
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3-dev/manifest.json
  apps/extension/.output/chrome-mv3-dev/oninstall.html
  apps/extension/.output/chrome-mv3-dev/popup.html
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/content.tsx
  apps/extension/src/apps/content/ContentApp.tsx
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Resolve TypeScript errors in UI package for CI
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/content.tsx
  apps/extension/src/apps/content/ContentApp.tsx
  packages/ui/src/components/karaoke/KaraokeCompletion/KaraokeCompletion.tsx
  packages/ui/src/components/karaoke/KaraokeSession/KaraokeSession.tsx
  packages/ui/src/i18n/provider.tsx
  packages/ui/src/services/audio/karaokeAudioProcessor.ts
  packages/ui/src/services/karaoke/chunkingUtils.ts
  packages/ui/src/utils/i18n-story.tsx
  packages/ui/src/utils/storybook.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Replace global state with context API in Tabs component
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/entrypoints/content.tsx
  apps/extension/src/apps/content/ContentApp.tsx
  apps/extension/src/styles/extension.css
  packages/ui/src/components/MinimizedKaraoke.stories.tsx
  packages/ui/src/components/MinimizedKaraoke.tsx
  packages/ui/src/components/common/Tabs/Tabs.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.tsx
  packages/ui/src/components/karaoke/KaraokeCompletion/KaraokeCompletion.module.css.d.ts
  packages/ui/src/components/karaoke/KaraokeSession/KaraokeSession.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Fix karaoke extension UI and implement countdown functionality
  apps/extension/src/apps/content/ContentApp.tsx
  apps/extension/src/styles/extension.css
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Update dev scripts to run wxt separately and improve audio playback
  apps/extension/src/apps/content/ContentApp.tsx
  package.json
Due: prettier --write

feat: Implement karaoke audio capture and grading system
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.css
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/src/apps/content/ContentApp.tsx
  apps/farcaster/.env.example
  apps/farcaster/index.html
  apps/farcaster/package.json
  apps/farcaster/public/.well-known/farcaster.json
  apps/farcaster/src/App.tsx
  apps/farcaster/src/components/FarcasterKaraoke.tsx
  apps/farcaster/src/components/UserHeader.tsx
  apps/farcaster/src/hooks/useSDK.ts
  apps/farcaster/src/index.css
  apps/farcaster/src/index.tsx
  apps/farcaster/src/pages/Home.tsx
  apps/farcaster/src/services/api.ts
  apps/farcaster/tsconfig.json
  apps/farcaster/vite.config.ts
  apps/server/src/routes/karaoke.routes.ts
  bun.lock
  packages/ui/src/components/farcaster/CreditPack/CreditPack.stories.tsx
  packages/ui/src/components/farcaster/CreditPack/CreditPack.tsx
  packages/ui/src/components/farcaster/CreditPack/index.ts
  packages/ui/src/components/farcaster/FarcasterMiniApp/FarcasterMiniApp.stories.tsx
  packages/ui/src/components/farcaster/FarcasterMiniApp/FarcasterMiniApp.tsx
  packages/ui/src/components/farcaster/FarcasterMiniApp/index.ts
  packages/ui/src/components/farcaster/UserProfile/UserProfile.stories.tsx
  packages/ui/src/components/farcaster/UserProfile/UserProfile.tsx
  packages/ui/src/components/farcaster/UserProfile/index.ts
  packages/ui/src/components/farcaster/WalletConnect/WalletConnect.stories.tsx
  packages/ui/src/components/farcaster/WalletConnect/WalletConnect.tsx
  packages/ui/src/components/farcaster/WalletConnect/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/karaoke/Countdown/Countdown.tsx
  packages/ui/src/components/karaoke/Countdown/index.ts
  packages/ui/src/components/karaoke/ExtensionKaraokeView/ExtensionKaraokeView.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useKaraokeSession.ts
  packages/ui/src/index.ts
  packages/ui/src/services/audio/AudioService.ts
  packages/ui/src/services/index.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Implement karaoke session with audio capture in extension
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3/assets/oninstall-BJ7TCn9u.css
  apps/extension/.output/chrome-mv3/assets/oninstall-huZH6dSN.css
  apps/extension/.output/chrome-mv3/chunks/oninstall-YMIFVl9O.js
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/extension/.output/chrome-mv3/oninstall.html
  apps/extension/src/apps/content/ContentApp.tsx
  apps/farcaster/public/favicon.ico
  apps/farcaster/src/index.css
  apps/farcaster/vite.config.ts
  packages/ui/src/components/farcaster/WalletConnect/WalletConnect.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Add debug logging and DB-optional support for karaoke endpoints
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/farcaster/src/App.tsx
  apps/farcaster/src/index.css
  apps/farcaster/vite.config.ts
  apps/server/src/routes/karaoke.routes.ts
  packages/ui/src/hooks/useKaraokeSession.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Rebuild packages with session creation and grading logic
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/farcaster/package.json
  apps/farcaster/src/App.tsx
  apps/farcaster/src/index.css
  apps/farcaster/vite.config.ts
  bun.lock
  packages/ui/src/components/karaoke/KaraokeCompletion/KaraokeCompletion.module.css
  packages/ui/src/components/karaoke/KaraokeCompletion/KaraokeCompletion.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Correct API URL and add session debugging
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/extension/src/apps/content/ContentApp.tsx
  apps/farcaster/src/App.tsx
  apps/farcaster/src/index.tsx
  packages/ui/src/hooks/useKaraokeSession.ts
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Use correct trackId property from track object
  apps/extension/.output/chrome-mv3-dev/content-scripts/content.js
  apps/extension/.output/chrome-mv3/content-scripts/content.js
  apps/extension/src/apps/content/ContentApp.tsx
Due: prettier --write
