Repository technohippies/scarlett-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Handle relative URLs in image proxy and search results
  apps/server/src/routes/images.routes.ts
  apps/server/src/routes/search.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Add language detection and fix incorrect song languages
  apps/server/migrations/006_fix_song_languages.sql
  apps/server/src/routes/karaoke.routes.ts
  apps/server/src/scripts/detect-song-languages.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

chore: Add better-sqlite3 for local migration script
  apps/server/package.json
  apps/server/scripts/apply-local-migration.ts
  bun.lock
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Replace phosphor icons with inline SVGs and add explanation caching
  apps/web/src/components/FarcasterKaraoke.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Restore phosphor icons with proper class styling
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Improve phosphor icon sizing and remove secondary button borders
  packages/ui/src/components/common/Button/Button.tsx
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Make icons white and larger, fix annotation display logic
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Show all available content sections and hide buttons when content exists
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Preserve all explanation types when loading from cache
  apps/web/src/components/FarcasterKaraoke.tsx
Due: prettier --write

fix: Use font-size to properly size phosphor icons
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Use phosphor icons exactly like working examples
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Prevent RTL text overlap with close button
  packages/ui/src/components/karaoke/LyricDetailSlider/LyricDetailSlider.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

fix: Preserve lyrics wrapped in parentheses on song page
  apps/server/src/routes/karaoke.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

fix: Improve homepage spacing and fix account page pattern
  apps/web/src/pages/AccountPage.tsx
  packages/ui/src/components/pages/HomePage/HomePage.tsx
Due: turbo lint --filter=@scarlett/ui, turbo type-check --filter=@scarlett/ui, prettier --write

feat: Add logout functionality to account page
  apps/web/src/pages/AccountPage.tsx
Due: prettier --write

fix: Replace Ankr RPC with free Base Sepolia endpoint
  apps/web/src/App.tsx
  apps/web/src/pages/SongPage.tsx
Due: prettier --write

fix: Improve Genius annotation matching algorithm
  apps/server/src/routes/annotations.routes.ts
Due: cd apps/server && bun run lint:fix, cd apps/server && bun run type-check, prettier --write

Path conditions:
  cd apps/server && bun run lint:fix: any of: apps/server/**/*.{ts,tsx}
  cd apps/server && bun run type-check: any of: apps/server/**/*.{ts,tsx}
  turbo lint --filter=@scarlett/ui: any of: packages/**/*.{ts,tsx}
  turbo type-check --filter=@scarlett/ui: any of: packages/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
